body {
  width: 100%;
  background-image: url(./assets/pexels-johannes-plenio-1118873.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.bg-footer {
  background-color: rgb(153, 255, 221) !important;
}

.five-days-forecast-card {
  background-color: rgba(128, 128, 128, 0.75);
  backdrop-filter: blur(3px);
  box-shadow: 7px 7px 40px rgb(45, 45, 45);
}

.five-days-icon {
  max-width: 80px !important;
  transform: scale(1.5);
}

.main-box {
  height: 200px;
  overflow: hidden;
  margin-bottom: 30px;
}


.weather-box {
  animation: slideUp 15s infinite linear;
  overflow: hidden;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    /* Partenza: nessuna trasformazione */
  }

  100% {
    transform: translateY(-100%);
    /* Fine: sposta verso l'alto del 100% dell'altezza del contenitore */
  }
}




.bg-nav {
  background: linear-gradient(90deg, rgba(250, 197, 29, 1) 0%, rgba(68, 85, 115, 1) 80%) !important;
}

.hour-time {
  font-size: 60px;
  font-weight: bold;
}

.weekday-time {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.500);
  padding: 4px 10px 4px 10px;
  border-radius: 25px;
}

.card-settings {
  width: 100% !important;
  height: 250px !important;
  background-position: center;
  background-size: cover;
  border: none !important;
  box-shadow: 7px 7px 40px rgb(45, 45, 45);
  text-shadow: 3px 3px 6px rgb(0, 0, 0);
}

.main-degrees {
  margin-top: 15px;
  line-height: 1.0;
  font-weight: bolder;
}

.weather-img {
  max-height: 140px !important;
  max-width: 140px !important;
  transform: scale(1.4);
}

.title-spacing {
  line-height: 1.1;
}

.side-card-currentWeather {
  background-color: rgba(0, 255, 255, 0.415);
  backdrop-filter: blur(3px);
  border: none;
  box-shadow: 7px 7px 40px rgb(45, 45, 45);
}

.card-aside {
  background-color: rgba(0, 255, 42, 0.449);
  backdrop-filter: blur(3px);
  box-shadow: 7px 7px 40px rgb(45, 45, 45);
}

.card-weather-style {
  box-shadow: 5px 5px 5px rgb(21, 21, 21);
}

.hourly-icon {
  transform: scale(1.4);
  max-width: 65px !important;
}

.navigation-icon {
  max-width: 50px !important;
}

.sunrise-set {
  font-size: 17px;
}

.side-info {
  font-size: 15px;
}

.data {
  font-size: 18px;
}

.headings {
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  font-size: 2.125rem !important;
}




@keyframes slide {
  0% {
    top: 0;
  }

  25% {
    top: -100%;
  }

  50% {
    top: -200%;
  }

  75% {
    top: -300%;
  }
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

.roller {
  height: 40px !important;
  line-height: 1.9rem !important;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
}

.carousel-settings {
  height: 300px !important;
  width: 100%;
  box-shadow: 7px 7px 40px rgb(0, 0, 0);
}

.img-carousel {
  object-fit: cover;
  image-rendering: optimizeQuality;
  width: 100% !important;
  height: 300px !important;
}