body {
  background: rgb(28,107,117);
  background: linear-gradient(180deg, rgb(28, 107, 117) 0%, rgb(255, 255, 255) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.imgHome {
  background-image: url(./assets/pexels-johannes-plenio-1118873.jpg);
  background-size: cover;
  background-position:center;;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
}

.headings {
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.bg-footer {
  background-color:rgb(153, 255, 221) !important;
}




.bg-nav {
background: linear-gradient(90deg, rgba(250,197,29,1) 0%, rgba(68,85,115,1) 80%) !important;
}